<label class="control-label string optional" for="product_images">图片</label>
<div id="selected_files" style="display:none;">
</div>
<div class="row" id="fileupload">
  <span class="btn btn-success fileinput-button" style="margin:15px;">
    <i class="glyphicon glyphicon-plus"></i>
    <span>添加图片</span>
    <input type="file" name="product[images_attributes][0][photo]" id="product_images_attributes_0_photo">
  </span>
  <div class="files">
  </div>
</div>
<script id="template-upload" type="text/x-tmpl">
  {% var input_num = $("#selected_files").children().length; %}
  {% var next_index = input_num+1; %}
  {% var file = o.files[0]; %}
  <div class="col-sm-6 col-md-4 template-upload fade">
    <div class="thumbnail">
      <div class="preview"><span class="fade"></span></div>
      <div class="caption">
        <div class="name">
          <span class="glyphicon glyphicon-picture">
            <label class="control-label string optional" for="product_images_caption">标题</label>
          </span>
          <input type="text" class="form-control" name="product[images_attributes][{%=input_num%}][caption]" id="product_images_attributes_{%=input_num%}_caption" value="{%=file.name%}">
        </div>
        <div class="cancel" style="margin-top:10px;">
          <button class="btn btn-warning" style="width:100%;height:100%;margin-top:0;" onclick="cancel_file({%=input_num%});">
            <span class="glyphicon glyphicon-trash">
              删除图片
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  {% $("#product_images_attributes_"+input_num+"_photo").appendTo($("#selected_files")); %}
  {% $(".fileinput-button").append("<input type='file' name='product[images_attributes]["+next_index+"][photo]' id='product_images_attributes_"+next_index+"_photo'>"); %}
  {% $('#fileupload').fileupload('option','fileInput', $("#product_images_attributes_"+next_index+"_photo")); %}
</script>
<script type="text/javascript" charset="utf-8">
  $(function () {
      // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload({
      downloadTemplateId: false,
      replaceFileInput: false,
      previewMaxWidth:270,
      previewMaxHeight: 160,
      //imageCrop: false,
      //previewCanvas: false,
      dropZone: null //enable it later
    });
  });
</script>
