<% @avatar_url ||= @user.present? ? @user.avatar.url : ""%>

  <table id="cover_table" style="width:100%; margin-bottom: -65px;">
    <tr>
      <td align="center">
        <div style="width:100px;height:100px;padding:5px;background-color:white;border-radius:100%;overflow:hidden">
          <%=image_tag @avatar_url, align:"right", style:"border-radius:100%;width:100px;height:100px;" %>
        </div>
      </td>
    </tr>
  </table>
