<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @option_value.title %>
</p>

<%= link_to 'Edit', edit_option_value_path(@option_value) %> |
<%= link_to 'Back', option_values_path %>
