<% first_root = Category.roots.first%>
<div  class="clearfix" style="padding: 20px 0;" >
  <div class="col-md-6" >
    <div class="panel panel-default" style=" " >
    <div class="panel-heading">
      <h3 class="panel-title">第一步：选择大类</h3>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <% for root in Category.roots%>
          <% my_class = root.id == first_root.id ? "list-group-item no_border cat active" : "list-group-item no_border cat"%>
          <%=link_to root.title, nil, href:"javascript:void(0)", class:my_class, id:"cat_#{root.id}", onclick:"toggle_category(#{root.id})" %>
        <% end %>
      </div>
    </div>
  </div>
  </div>
  <div class="col-md-6" >
    <div class="panel panel-default" style="" >
    <div class="panel-heading">
      <h3 class="panel-title">第二步：选择小类</h3>
    </div>
    <div class="panel-body">
      <% for root in Category.roots %>
        <% my_style = root.id == first_root.id ? "" : "display:none;"%>
        <div id="sub_cat_<%=root.id%>" class="list-group sub_cat" style="<%=my_style%>" data-turbolinks="false">
          <% for child in root.children %>
            <%=link_to child.title, new_my_product_path(category_id: child.id), class:"list-group-item no_border" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>
