<div class="public-title">
    <div class="head"> <span class="title"> 租赁流程 </span></div>
    <div class="clearfix">
      <div class="step col-xs-4" >
        <i class="glyphicon glyphicon-list-alt"></i>
        <div class="desc">1.注册</div>
        <i class="icon-arrow-db"></i>
      </div>
      <div class="step col-xs-4">
          <i class="glyphicon glyphicon-check"></i>
          <div class="desc">2.实名认证</div>
          <i class="icon-arrow-db"></i>
      </div>
      <div class="step col-xs-4">
          <i class="glyphicon glyphicon-picture"></i>
          <div class="desc">3.发布信息</div>
      </div>
    </div>
</div>
