<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <% @all_categories.each_with_index{|category,i| %>
      <%= content_tag 'li', role: 'presentation', class: (i==0 ? 'active' : '' )do %>
        <%= link_to category.title, "#", role:'tab', data: { toggle: 'tab'},aria:{controls: category.title}, href: "##{dom_id(category)}" %>
      <% end %>
    <% }%>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <%= render partial: 'category', collection: @all_categories %>
  </div>

</div>
