/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'swiper.min'
 *= require 'lightbox.min'
 *= require 'sidr/jquery.sidr.light.min'
 *= require_tree .
 *= require_self
 */
 /* override swiper.min */
.swiper-pagination-bullet-active{
  background-color: #fff;
}

 body {
 }
 ul {
   list-style-type: none;
 }
 .red-bg{
   background:  #d61718;
 }
 .red-font
 {
   color: #d61718;
 }
 .gray-font
 {
    color: #999;
 }
 .gg-bb{
   border-bottom: 1px solid #cccccc;
 }
 .logo{
   height: 50px;
   display: inline-block;
 }
 .conversation {
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 1%;
}
.gg-top-nav{

  background-color: #fff;
  border-bottom: 1px solid #f3f3f3;
  padding: 2px 0;
  .nav a {
    display: inline;
    padding: 0 0 0 15px ;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: #d61718;
    background-color: transparent;
  }
}
.width-1-4
{
  width: 25%;
  float: left;
}
.width-1-2
{
  width: 50%;
  float: left;
}
.width-1-5
{
  width:20%;
  float: left;
}
.menu-wrapper
{
  padding: 18px 0;
  background-color: #fff;
}
.main-menu {
  position: relative;
  color: grey;
  font-size: 20px;
  height: 50px;
  li{
    float: left;
    position: relative;
    display: block;
  }
  a{
    margin: 5px 0;
    line-height: 40px;
    display: inline-block;
    padding: 0 25px;
  }

  a.logo{
    padding: 0;
  }
  #news_btn{
    padding-right: 35px;

  }
  #be_agency_btn{
    background-color:#d61718;
    color: #fff;
    padding: 0 15px;
  }

  .subcategories{
    width: 400px;
    li>a{
      float: left;
    }
    .subcategory{
      padding:  0 0 0 100px;
    }
    .subcategory a{
      line-height: normal;
      padding: 0 15px;
    }
  }

}


/*home page*/
.gg-index{

}
.gg-index .gg-cats{
  margin: 0 0 30px 0;
}
.gg-slider
{
  .swiper-wrapper{
      height: 450px;
  }
  background-color: #d61718;
  .slide1{
    background-image: image-url('slides/slide.png');
    background-size: cover;
    background-position: center;
  }
  .slide2{
    background-image: image-url('slides/slide.png');
    background-size: cover;
    background-position: center;

  }
  .slide3{
    background-image: image-url('slides/slide.png');
    background-size: cover;
    background-position: center;
  }
}
.gg-ad{
  background-color: #fff;
  text-align: center;
  margin-bottom: 30px;
  .gg-col{
    margin: 18px 0;
    border-right: 1px solid #eee;
    background-repeat: #ffffff;
    height: 64px;
    line-height: 64px;
  }
  .gg-col-last{
    border: 0;
  }
}
.gg-high-cats{
  .gg-cat-col{
    background-color: #fff;
    height: 300px;
  }
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */


/* Customize the text color and shadow color and to optimize text legibility. */
.welcome {
  margin-top: 20px;
  background: image-url("slide.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 360px;
  width: 100%;
}
.tagline {
    padding-top: 200px;
    font-size: 60px;
    color: black;
}

.sub {
  font-size: 25px;
  padding-left: 50px;
}


.card-title {
  height:30px;
}
.mb-3 {
  padding-left: 10px;
  padding-right: 10px;
}


.gg-footer{
  background: #2d3236;
  color: #fff;
  overflow: hidden;
  .gg-footer-top
  {
    padding: 52px 0 0 0;
  }
  .gg-footer-top .footer-about .footer-statement > dd {
      line-height: 26px;
      height: 26px;
      font-size: 15px;
  }
  .gg-footer-top .footer-about .footer-statement {
      width: 192px;
      float: left;
  }
  .gg-footer-bottom {
      color: #a7abae;
      padding: 21px 0;
      text-align: center;
      font-size: 16px;
  }
  .gg-footer-top .footer-about .footer-statement > dt {
      height: 42px;
      font-size: 17px;
      font-weight: normal;
  }

  .footer-logo {
    width: 171px;
    height: 49px;
    background: image-url('logo-dark.png') no-repeat;
    background-size: contain;

  overflow: hidden; float: right;
    margin-bottom: 25px;
  }
}
.gg-overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 14;
  background-color:gray;
  opacity: 0.3;
}

.mobile{
  ul{
    margin: 0;
  }
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;

  .gg-page-content{
    margin:  0 0 80px 0;
  }
  /*滚动海报*/
  .gg-slider
  {
    .swiper-wrapper{
      height: 150px;
    }
    .swiper-pagination
    {
      display: none;
    }
  }
  /* 头部导航条 */
  .gg-top-nav
  {
    line-height: 46px;
    .navbar-toggle
    {
      padding: 15px 0 0 0;
      margin: 0 10px 0 0;
      height: 46px;
      .icon-bar{
        background-color: #666;
      }
    }
    .auth-links{
      li{
        float: left;
        a{
          padding: 0 5px 0 0;
        }
      }
    }
  }
  .gg-search
  {
    padding: 8px 0;
    background-color: #fff;
    button{
      margin: 4px auto;
      width: 100%;
      color: #fff;
      background-color:  #d61718;
    }
  }
  .gg-footer
  {
    padding: 4px 0;
    background-color: #cacaca;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    .nav-item-wrap
    {
      text-align: center;
      .font-icon
      {
        font-size: 2em;
      }
    }
  }
}
