/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   background-color: #f3f3f3;
 }
 .logo{
   height: 50px;
   display: inline-block;
 }
 .conversation {
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 1%;
}

.head-nav .nav a {
  display: inline;
  padding: 0 15px ;
}
.menu-wrapper
{
  background-color: #fff;
}
.main-menu {
  color: grey;
  font-size: 26px;
  padding-right: 10px;
  height: 50px;
}

.main-menu a{
  line-height: 50px;
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */


/* Customize the text color and shadow color and to optimize text legibility. */
.welcome {
  margin-top: 20px;
  background: url("http://i.imgur.com/4R8gUP0.jpg");
  background-position: center;
  height: 630px;
  width: 100%;
}
.tagline {
    padding-top: 200px;
    font-size: 60px;
    color: black;
}

.sub {
  font-size: 25px;
  padding-left: 50px;
}


.card-title {
  height:30px;
}
.mb-3 {
  padding-left: 10px;
  padding-right: 10px;
}
/* my */
.leftside {
    float: left;
    width: 20%;
    min-height: 500px;
    padding-top: 8px;
    margin-top: 22px;
    background-color: #ADD8E6;
}
.rightside {
    float: right;
    width: 80%;
    margin-top: 22px;
    background-color: #87AFC7;
}


.zj-footer .zj-footer-top .footer-about .footer-statement > dd {
    line-height: 26px;
    height: 26px;
    font-size: 15px;
}
.zj-footer .zj-footer-top .footer-about .footer-statement {
    width: 192px;
    float: left;
}
.zj-footer .zj-footer-bottom {
    color: #a7abae;
    padding: 21px 0;
    text-align: center;
    font-size: 16px;
}
