// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pc
{
  .show-category
  {
    .selected-filters
    {
      border-top: 1px solid #dddddd;
      padding: 15px 0;
      a{
        display: inline-block;
        margin: 0 8px 0 0;
        border: 1px solid #dedede;
        padding: 0 6px 0 5px;
        height: 18px;
        line-height: 18px;
        font-size: 12px;
        display: inline-block;
        color: #888;
        text-decoration: none;
      }
      a:hover{
        color: #d61718;
        border: 1px solid #d61718;
      }
      em{
        font-style: normal;
      }
      i{
        font-style: normal;
        padding-left: 9px;
      }
    }
  }
  .products
  {
    .product
    {
      &:hover{
        background-color: #f9f9f9;
      }
      .pimage{
        float: left;
        height: 140px;
      }
      .product-info{
        margin: 0 10px;
        width: 600px;
        overflow: hidden;
        h3{ line-height: 1em; text-overflow: ellipsis;}
      }
      .ptitle{
        height: 35px;
        overflow: hidden;
      }
      .pprice {
        margin-right: 50px;
        color: #d61718;
        font-size: 16px;
        line-height: 140px;
        b {
            font-size: 28px;
            font-weight: 600;
            vertical-align: -3px;
            margin-right: 3px;
        }
      }
    }
  }
  .latest{
    .category {
      overflow: hidden;
      margin-bottom: 20px;
      border-top: 1px solid #eee;
      border-left: 1px solid #eee;
      ul.products
      {
        margin: 0;
      }
      .product
      {
        border-bottom: 1px solid #eee;
        border-right: 1px solid #eee;
        .image-wrapper {
          width: 100%;
          height: 180px;
          /*background: #fbfbfb;*/
          padding: 10px;
          overflow: hidden;
        }
        .rental {
           height: 20px;
           line-height: 20px;
           margin-top: 12px;
           padding: 0 15px;
           display: block;
           color: #515151;
        }
        .desc {
           height: 20px;
           font-size: 12px;
           line-height: 20px;
           margin-bottom: 10px;
           display: block;
           color: #000000;
           padding: 0 15px;
        }
      }
    }
    .category-title {
      background: #f9f9f9;
      height: 34px;
      line-height: 34px;
      padding: 0 18px;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
      width: 100%;
    }
  }
}
.mobile{
  .show-category
  {
    .category-titles
    {
      background-color: #fff;
      a.btn{
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }
    .category-leaves
    {
      background-color: #fff;
      .category
      {
        .head{
          padding: 4px 12px;
          border-bottom: 1px solid #cccccc;
          .title{
            border-left: 4px solid #d61718;
            padding: 0 8px;
          }
        }
      }
    }
    .products{
      .product{
        width: 50%;
        float: left;
        .ptitle{
          height: 35px;
          overflow: hidden;
        }
      }
    }
  }
}
