/*
 *= require_tree .
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require_self
 */
.no_border{
  border:none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.panel-title
{
  font-size: 18px;
  font-weight: 700;
}
