// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-images-wrapper{
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .swiper-container.gallery-large{
    height: 500px;
    margin: 0 0 10px 0;
  }
  .swiper-container.gallery-thumb{
    height: 100px;
    .arrow-right, .arrow-left {
      position: absolute;
        top: 0;
        margin: 0;
        height: 100%;
        width: 25px;
        display: block;
        background-color: #000;
        opacity: .75;
        padding: 5px;
        z-index: 2;
        a
        {
          right: 5px;
          width: 12px;
          background-size: contain;
        }
    }
    .arrow-right{ right: 0;}
    .arrow-left { left: 0;}
    .swiper-slide {
        height: 100%;
        width: 120px;
        margin:  0 10px 0 0;
        opacity: 0.6;
    }
    .swiper-slide:hover {
      opacity: 1;
    }
    .swiper-slide.active-nav
    {
      border: 1px solid red;
      opacity: 1;
    }
  }

}
