// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-images-wrapper{
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .swiper-container.gallery-large{
    height: 400px;
    margin: 0 0 10px 0;
  }
  .swiper-container.gallery-thumb{
    height: 75px;
    .arrow-right, .arrow-left {
      position: absolute;
        top: 0;
        margin: 0;
        height: 100%;
        width: 25px;
        display: block;
        background-color: #000;
        opacity: .75;
        padding: 5px;
        z-index: 2;
        a
        {
          right: 5px;
          width: 12px;
          background-size: contain;
        }
    }
    .arrow-right{ right: 0;}
    .arrow-left { left: 0;}
    .swiper-slide {
        height: 100%;
        width: 120px;
        margin:  0 10px 0 0;
        opacity: 0.6;
    }
    .swiper-slide:hover {
      opacity: 1;
    }
    .swiper-slide.active-nav
    {
      border: 1px solid red;
      opacity: 1;
    }
  }

}
// http://v3.bootcss.com/javascript/#scrollspy
body {
  position: relative;
}

.pc .product{
  .product-base
  {
    margin-bottom: 18px;
  }
  .product-images-wrapper
  {
    width: 555px;
    height: 485px;
  }

  .product-info
  {
    height: 485px;
    .house-chat-entry {
        height: 75px;
        position: absolute;
        bottom: 0;
        left: 15px;
    }
    .pay-price {
      height: 68px;
      line-height: 68px;
      overflow: hidden;

      padding: 0 15px;
      margin-top: 6px;
      background: #f5f5f5;
      color: #777;

      .high-light-red .two, .high-light-red .first {
        color: #d61718;
      }
      .pay-re {
          color: #555;
          padding: 0 25px;
          float: left;
          position: relative;
      }
    }
    .house-chat-phone {
        float: left;
        position: relative;
        display: inline-block;
        height: 100%;
        width: 358px;
        padding-left: 66px;
        background: #d61718;
        .phone-logo {
           position: absolute;
           top: 0;
           left: 0;
           margin: 0;
           bottom: 0;
           line-height: 1;
           font-size: 45px;
           padding: 15px 15px 0 15px;
           background-color: #ff1718;
           overflow: hidden;
           color: #fff;
       }
    }

    .phone-num {
        margin-top: 21px;
        margin-bottom: 2px;
        font-size: 35px;
        color: #fff;
        text-align: center;
        line-height: 40px;
        text-shadow: 0 0 4px rgba(139,62,0,.3);
    }
    .house-basic-item4 {
        border-top: 1px solid #f3f3f3;
        padding: 18px 20px 32px 20px;
    }
    .house-basic-item4 .nav {
      margin-bottom: 8px;
      height: 32px;
      overflow: hidden;
    }
    .house-basic-item4 .jjrlogo {
      float: left;
      display: block;
      width: 30px;
      height: 30px;
      margin-right: 19px;
      border-radius: 50%;
      border: 1px solid #e3e3e3;
    }
    .house-basic-item4 .jjrsay {
      float: left;
      display: block;
      line-height: 32px;
    }
    .house-basic-item4 .jjr-desc {
      height: 66px;
      overflow: hidden;
    }
    .house-basic-item3 {
      border-top: 1px solid #f3f3f3;
      padding: 12px 20px;
    }
    .house-basic-item3 span {
      display: inline-block;
    }
    .house-basic-item3 .mapNavIcon {
      font-size: 12px;
    }
    .c_999 {
      color: #999;
    }
    .c_000 {
      color: #000;
    }
    .mr_10 {
      margin-right: 10px;
    }
  }

}

.side-left-wrap {
    padding: 20px 15px;
    border: 1px solid #e3e3e3;
    margin-bottom: 30px;
    .avatar{
      text-align: center;
      a{
        width: 80px;
        height: 80px;
        display: inline-block;
        border-radius: 100%;
        overflow: hidden;
      }
    }
    .name{
      text-align: center;
    }

    .owner-profile
    {

    }
}

.product-details
{
  .navbar  { min-height: inherit;}

  .product-image-item{
    width: 50%;
    padding: 0 10px 10px 0;
    float: left;
  }
}
