// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.gg-cat-col{
  margin:  0 0 30px 0;
}

.gg-categories-wrapper{
  background-color: #fff;
  .tab-content{
    margin: 15px 0 0 0;
  }
}
