<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">本地头像</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">系统头像</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <div class="clearfix">

          <div id="defaultImgLiBorder" class="defaultImgBorder userImgBorder">
            <img id="defaultImg" class="defaultImg userImg" src="//pic1.58cdn.com.cn/m1/bigimage/n_v201c44d3a2e4b41f5b60771507b45f2ae.png" alt="">
          </div>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane " id="profile">
      <div class="clearfix">
        <div id="defaultImgLiBorder" class="defaultImgBorder userImgBorder">
            <img id="defaultImg" class="defaultImg userImg" src="//pic1.58cdn.com.cn/m1/bigimage/n_v201c44d3a2e4b41f5b60771507b45f2ae.png" alt="">
        </div>

        <div id="systemImgBox" class="systemImgBox">
            <p class="systemImgText">请选择喜欢的系统头像：</p>
            <ul id="defaultImgUl" class="defaultImgUl">
                <li id="systemImg1" class="systemImg">
                    <div class="systemImgBox">
                        <img src="//img.58cdn.com.cn/ui6/my/images/d_120.gif" alt="">
                    </div>
                </li>
                <li id="systemImg2" class="systemImg">
                    <div class="systemImgBox">
                        <img src="//img.58cdn.com.cn/ui6/my/images/e_120.gif" alt="">
                    </div>
                </li>
                <li id="systemImg3" class="systemImg">
                    <div class="systemImgBox">
                        <img src="//img.58cdn.com.cn/ui6/my/images/f_120.gif" alt="">
                    </div>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>

</div>
