<div style="height:270px;">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" style="margin-bottom: -2px" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">本地头像</a></li>
    <li role="presentation" style="margin-bottom: -2px" ><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">系统头像</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">

      <div class="upload-avatar clearfix" data-upload-template-id="template-upload-avatar" >
        <div class="defaultImgBorder userImgBorder">
          <div class="files">
            <div class="avatar">
              <% preview_url = @user.avatar.url %>
              <% if @user.errors.keys.include? :avatar%>
                <% preview_url = "" %>
                <span style="color:red;"><%=@user.errors[:avatar].first%></span>
              <% end %>
              <div class="preview"><%=image_tag preview_url, width:"200", height:"200", data: { toggle: "tooltip", placement: "top"}, title: "点击上传" %></div>
            </div>
          </div>
        </div>
        <div style="width:100%;float:left;">
          <span class="btn btn-success fileinput-button" style="margin:10px 0;">
            <i class="fa fa-plus"></i>
            <span>上传头像</span>
            <input type="file" name="user[avatar]" id="user_avatar">
          </span>
          <span id="edit-user-avatar-btn" class="btn btn-success fileinput-button" style="margin:10px 0;">
            <i class="fa fa-plus"></i>
            <span>上传头像2</span>
          </span>
        </div>
      </div>

    </div>
    <div role="tabpanel" class="tab-pane " id="profile">
      <div class="clearfix">
        <%= f.input :avatar_remote_url, label: false, as:"hidden"%>
        <div id="defaultImgLiBorder" class="defaultImgBorder userImgBorder" style="margin-right:10px;">
            <%=image_tag @user.avatar.url, width:"200", height:"200"%>
        </div>

        <div id="systemImgBox" class="systemImgBox">
            <p class="systemImgText">请选择喜欢的系统头像：</p>
            <ul id="defaultImgUl" class="defaultImgUl">
                <li id="systemImg1" class="systemImg">
                    <div class="systemImgBox">
                        <img src="http://img.58cdn.com.cn/ui6/my/images/d_120.gif" alt="">
                    </div>
                </li>
                <li id="systemImg2" class="systemImg">
                    <div class="systemImgBox">
                        <img src="http://img.58cdn.com.cn/ui6/my/images/e_120.gif" alt="">
                    </div>
                </li>
                <li id="systemImg3" class="systemImg">
                    <div class="systemImgBox">
                        <img src="http://img.58cdn.com.cn/ui6/my/images/f_120.gif" alt="">
                    </div>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<script id="template-upload-avatar" type="text/x-tmpl">
  {% $('.avatar').remove(); %}
  <div class="template-upload fade avatar">
    <div class="preview"><span class="fade"></span></div>
  </div>
</script>


<div id="edit-avatar-containerx">
  <div class="imageBox">
     <div class="thumbBox"></div>
     <div class="spinner" >Loading...</div>
   </div>
   <div class="action">
     <div class="new-contentarea tc">
       <a href="javascript:void(0)" class="upload-img">
           <label for="upload-file">上传图像</label>
       </a>
       <input type="file" class="" name="upload-file" id="upload-file" />
     </div>
     <input type="button" id="btnCrop"  class="Btnsty_peyton" value="裁切">
     <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+"  >
     <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-" >
   </div>
   <div class="cropped"></div>
</div>

<div id="edit-avatar-container" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">修改头像</h4>
      </div>
      <div class="modal-body">
        <div>
          <span class="btn btn-success fileinput-button" style="margin:10px 0;">
            <i class="fa fa-cloud-upload"></i>
            <span>上传头像</span>
            <input type="file" name="user-avatar" class="user-avatar" >
          </span>
        </div>
        <div class="am-g clearfix" >
      		<div class="up-pre-before up-frame-radius">
      			<img alt="" src="" class="avatar-image" >
      		</div>
      		<div class="up-pre-after up-frame-radius">
      		</div>
    	  </div>

        <div class="am-g am-fl">
          <div class="up-control-btns">
            <span class="am-icon-rotate-left"  onclick="rotateimgleft()"></span>
            <span class="am-icon-rotate-right" onclick="rotateimgright()"></span>
            <span class="am-icon-check" id="up-btn-ok" url="admin/user/upload.action"></span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
