<div class="fileupload" data-upload-template-id="template-upload-id">
  <%id_photo_label= @user.auth_type == 0 ? "手持身份证正面照片" : "工商执照正面照片"%>
  <label class="control-label string optional" for="user_id_photo"><%=id_photo_label%></label>
  <span class="btn btn-success fileinput-button" style="margin:15px;">
    <i class="glyphicon glyphicon-plus"></i>
    <span>上传</span>
    <input type="file" name="user[id_photo]" id="user_id_photo">
  </span>
  <div class="files">
    <div class="for_id">
      <div class="preview"><%=image_tag @user.id_photo.url, width:"270", height:"160"%></div>
    </div>
  </div>
</div>

<div class="fileupload" data-upload-template-id="template-upload-shop">
  <%shop_photo_label= @user.auth_type == 0 ? "店铺正面照片" : "企业门店正面照片"%>
  <label class="control-label string optional" for="user_id_photo"><%=shop_photo_label%></label>
  <span class="btn btn-success fileinput-button" style="margin:15px;">
    <i class="glyphicon glyphicon-plus"></i>
    <span>上传</span>
    <input type="file" name="user[shop_photo]" id="user_shop_photo">
  </span>
  <div class="files">
    <div class="for_shop">
      <div class="preview"><%=image_tag @user.shop_photo.url, width:"270", height:"160"%></div>
    </div>
  </div>
</div>
<script id="template-upload-id" type="text/x-tmpl">
  {% $('.for_id').remove(); %}
  <div class="template-upload fade for_id">
    <div class="preview"><span class="fade"></span></div>
  </div>
</script>
<script id="template-upload-shop" type="text/x-tmpl">
  {% $('.for_shop').remove(); %}
  <div class="template-upload fade for_shop">
    <div class="preview"><span class="fade"></span></div>
  </div>
</script>
<script type="text/javascript" charset="utf-8">
  $(function () {
    // Initialize the jQuery File Upload widget:
    $('.fileupload').each(function () {
      $(this).fileupload({
        downloadTemplateId: false,
        replaceFileInput: false,
        previewMaxWidth:270,
        previewMaxHeight: 160,
        //imageCrop: false,
        //previewCanvas: false,
        dropZone: $(this) //enable it later
      });
    });
  });
</script>
