<div class="my-item-item">

<table class="my-item-item-tb" id="tr30480210584632" key="30480210584632" state="1">
  <thead class="my-item-item-tb-header">
    <tr>
       <th colspan="2" class="my-item-item-tb-code">
       <span class="my-item-item-header-code">信息号: 30480210584632</span>
                                    <span><a href="javascript:top.setbg('招聘职位：<b>软件开发实习生</b>',750,450,'//jianli.58.com/interviewinvitereceive/?list=apply&amp;type=2&amp;infoid=30480210584632')">应聘简历</a><span id="jobcount30480210584632" class="red">(2)</span></span>
       </th>
       <th class="my-item-item-tb-share" colspan="2">
            <div class="my-item-item-header-icon2">
            </div>

       </th>
     </tr>
  </thead>
  <tbody>
    <tr class="my-item-item-tb-content disp">
     <td class="my-item-item-tb-content-img-td width90">
        <a target="_blank" href="http://dl.58.com/tech/30480210584632x.shtml" class="img swk-status-wrap">
                          <img src="//img.58cdn.com.cn/n/images/list/noimg.gif">
        </a>
     </td>
        <td class="width223">
            <div class="my-item-item-tb-content-titles">
                 <p class="my-item-item-content-left-title"><a target="_blank" href="http://dl.58.com/tech/30480210584632x.shtml" class="t">软件开发实习生</a></p>
                                               <span style="display:none;" class="ico zhineng" id="imgdingxiang30480210584632"></span>
                 <span style="display:none;" class="ico-w ding-w" title="委托置顶中" id="ding_30480210584632"></span>
               <span style="display:none;" class="jingpin" title="精准推广中" id="jing_30480210584632"></span>

                 <p class="my-item-item-content-left-date">2017-08-23 11:34</p>
                 <p class="my-item-item-content-left-detail"><a target="_blank" href="http://dl.58.com/" class="a_xq1">大连</a>  - <a target="_blank" href="http://dl.58.com/job.shtml" class="a_xq1">全职招聘</a> - <a target="_blank" href="http://dl.58.com/tech/" class="a_xq1">计算机/互联网/通信</a></p>
             </div>
         </td>
          <td class="width243">
             <div class="my-item-item-tb-content-states">
                <p class="my-item-item-tb-content-states-p1"><span>显示中</span></p>
                <p class="my-item-item-tb-content-states-p2">浏览 248</p>
              </div>
          </td>
          <td>
            <div class="my-item-item-tb-content-option">
              <span>
                <a id="update30480210584632" href="http://post.58.com/zhaopin/update/30480210584632" onclick="clickLog('from=my_postlist_xiugai');" target="_blank">修改</a>
              </span>
              <span id="reflashspan30480210584632" class="refresh " style="white-space:nowrap;color:#ccc">
                   <a title="刷新后信息靠前显示，相当于新发一条。" onclick="job_reflashinfo('30480210584632');clickLog('from=my_postlist_refresh_i');" tongji="list_opt_refresh" href="javascript:void(0);">刷新</a>				    </span>
                  <span id="jingspan30480210584632" class="extension precision " style="white-space:nowrap;color:#ccc">
              <a id="jing30480210584632" href="javascript:showJingZhunSrc('30480210584632',1010011)" onclick="clickLog('from=my_postlist_jingzhun_i');" class="on">精准推广</a>
            </span>
                <span><a id="recruitorder_30480210584632" href="javascript:top.location.href='//my.58.com/pro/recruitautoorder/?sourcepath=my-myrelease-recruit-buyresume'" onclick="clickLog('from=my-myrelease-recruit-buyresume');">简历套餐</a></span>

                <span id="topspan30480210584632" class="sticky" style="white-space:nowrap;color:#ccc">
    <a href='javascript:$.c.info.InfoTop("30480210584632",1000);' onclick="clickLog('from=my_postlist_zhiding_i');">置顶</a>

              </span>
                  <span><a href="javascript:downshelf(30480210584632);" onclick="clickLog('from=my_mypost_new_downshelf')">下架</a></span>
                  <span><a href="javascript:setyouxuan(30480210584632);" onclick="clickLog('from=my_mypost_new_yxset')">优选</a></span>
              </div>
           </td>
    </tr>
   </tbody>
</table>
</div>
