<div class="">
          <div class="footer-nav">
            <div class="width-1-5 nav-item-wrap">
              <span class="glyphicon glyphicon-home font-icon" aria-hidden="true"></span>
              <div class="nav-item"> <%= link_to '首页', root_path  %> </div>
            </div>
            <div class="width-1-5 nav-item-wrap">
              <span class="glyphicon glyphicon-search font-icon" aria-hidden="true"></span>
              <div class="nav-item"> <a> 发现  </a></div>
            </div>
            <div class="width-1-5 nav-item-wrap">
              <span class="glyphicon glyphicon-edit font-icon" aria-hidden="true"></span>
              <div class="nav-item"> <a> 发布  </a></div>
            </div>
            <div class="width-1-5 nav-item-wrap">
              <span class="glyphicon glyphicon-envelope font-icon" aria-hidden="true"></span>
              <div class="nav-item"> <a> 消息  </a></div>
            </div>
            <div class="width-1-5 nav-item-wrap">
              <span class="glyphicon glyphicon-user font-icon" aria-hidden="true"></span>
              <div class="nav-item"> <%= link_to '我的', my_root_path %> </div>
            </div>

          </div>

</div>
