<div class="">
        <div class="gg-win-w">
            <div class="gg-footer-top clearfix">
                <div class="pull-left">
                    <div class="footer-about">
                    <% BlogCategory.ctype_about.includes('blog_posts').each{|category| %>
                      <dl class="footer-statement">
                          <dt> <%= category.title %></dt>
                          <% category.blog_posts.each{|post| %>
                            <dd><%= link_to post.title, post, target: '_blank' %></dd>
                          <% } %>
                      </dl>
                    <% } %>
                        <dl class="footer-statement">
                            <dt>发现</dt>
                            <dd><a href="/article/index" target="_blank">资讯中心</a></dd>
                            <dd><a href="http://shop.rrzuji.com" target="_blank">旺铺中心</a></dd>
                            <dd><a rel="nofollow" href="/discover/invite" target="_blank">推荐好友</a></dd>
                            <dd><a href="/site/map" target="_blank">网站地图</a></dd>
                            <dd><a rel="nofollow" href="http://www.hyizu.com/" target="_blank">好易租</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="pull-right">
                  <div class="footer-logo"></div>
                  <div class="footer-erweima">
                      <div class="wx-reweima pull-left">
                          <div class="f-wx-img">
                            <%= image_tag "erweima.jpg", size: "109x109", alt: '光棍租生活二维码扫描' %>
                          </div>
                          <p class="wx-des">微信官方平台</p>
                      </div>
                      <div class="wx-reweima pull-right" style="margin-left: 16px;">
                          <div class="f-wx-img">
                            <%= image_tag "app-erweima-def.png", size: "109x109", alt: '扫描下载光棍租生活APP' %>
                          </div>
                          <p class="wx-des">光棍租生活APP</p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="gg-footer-bottom">
                Copyright ©2017 光棍租生活 版权所有,辽ICP备15081086号-1,   本站由阿里云提供计算与安全服务
            </div>
        </div>
    </div>
