<div class=" container">
  <%= link_to image_tag( "logo.png", alt: '光棍租生活', class: 'logo'), root_path, class:'logo' %>
  <ul class="main-menu pull-right">
    <li id='categories_btn'>
      <%= link_to "租赁分类", "#",  class:'dropdown-toggle',data:{toggle: 'dropdown'}  %>

      <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
      </li>
      <li> <%= link_to "资迅中心", root_path, id:'news_btn' %> </li>

      <li><%= link_to "成为租赁商", renter_session_path, id:'be_agency_btn' %></li>
  </ul>
</div>
