<div class="main-menu container">
  <%= link_to image_tag( "logo.png", alt: '光棍租生活', class: 'logo'), root_path, class:'logo' %>
  <div class="pull-right">
  <%= link_to "租赁分类", root_path %>
  <%= link_to "资迅中心", root_path %>
  <%= link_to "成为租赁商", root_path, id:'be_agency_btn' %>
  </div>
</div>
